# PS IDE file
/**/.psc-ide-port

# PSCI Modules for REPL
/**/.psci*

# Not used here, but still include it anyways: (PSA build tool)
/**/.psa*

# Output of building PS (docs, compilation, bundling)
/**/generated-docs/
/**/output/
/**/dist/**/*.js

# Node related things
/**/node_modules/
/**/package-lock.json

# Spago related things
/**/.spago/

# Ignore Parcel's files and directories
/**/dist/**/*.js.map
/**/dist/**/index.html
/**/.cache/

# Ignore any project-related files stored in temporary folder
/**/tmp/

# Ignore mdbook related files
/mdbook/code/
.procedures/mdbook-toc.mjs
