/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*

/11-Syntax/01-Basic-Syntax/.psc-package/
/11-Syntax/01-Basic-Syntax/.psc*
/11-Syntax/01-Basic-Syntax/.purs*
/11-Syntax/01-Basic-Syntax/.psa*
/11-Syntax/01-Basic-Syntax/output/
/11-Syntax/01-Basic-Syntax/.pulp-cache/

/11-Syntax/02-Module-Syntax/.psc-package/
/11-Syntax/02-Module-Syntax/.psc*
/11-Syntax/02-Module-Syntax/.purs*
/11-Syntax/02-Module-Syntax/.psa*
/11-Syntax/02-Module-Syntax/output/
/11-Syntax/02-Module-Syntax/.pulp-cache/

/11-Syntax/03-Foreign-Function-Interface-Syntax/.psc-package/
/11-Syntax/03-Foreign-Function-Interface-Syntax/.psci*
/11-Syntax/03-Foreign-Function-Interface-Syntax/.psc-0*
/11-Syntax/03-Foreign-Function-Interface-Syntax/.purs*
/11-Syntax/03-Foreign-Function-Interface-Syntax/.psa*
/11-Syntax/03-Foreign-Function-Interface-Syntax/output/
/11-Syntax/03-Foreign-Function-Interface-Syntax/.pulp-cache/

/11-Syntax/03-Type-Level-Programming-Syntax/.psc-package/
/11-Syntax/03-Type-Level-Programming-Syntax/.psc*
/11-Syntax/03-Type-Level-Programming-Syntax/.purs*
/11-Syntax/03-Type-Level-Programming-Syntax/.psa*
/11-Syntax/03-Type-Level-Programming-Syntax/output/
/11-Syntax/03-Type-Level-Programming-Syntax/.pulp-cache/

/21-Hello-World/03-Hello-World-and-Effects/.psc-package/
/21-Hello-World/03-Hello-World-and-Effects/.psa*
/21-Hello-World/03-Hello-World-and-Effects/.psci*
/21-Hello-World/03-Hello-World-and-Effects/output
/21-Hello-World/03-Hello-World-and-Effects/.pulp-cache
/21-Hello-World/03-Hello-World-and-Effects/dist

/21-Hello-World/04-Mutable-State--Global-vs-Local/.psc-package/
/21-Hello-World/04-Mutable-State--Global-vs-Local/.psa*
/21-Hello-World/04-Mutable-State--Global-vs-Local/.psci*
/21-Hello-World/04-Mutable-State--Global-vs-Local/output
/21-Hello-World/04-Mutable-State--Global-vs-Local/.pulp-cache
/21-Hello-World/04-Mutable-State--Global-vs-Local/dist
