name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up PureScript toolchain
        uses: purescript-contrib/setup-purescript@main
        with:
          purescript: "0.13.8"
          spago: "0.16.0"

      - name: Cache PureScript dependencies
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-spago-${{ hashFiles('packages.dhall') }}
          path: |
            11-Syntax/01-Basic-Syntax/.spago
            11-Syntax/02-Foreign-Function-Interface/.spago
            11-Syntax/03-Type-Level-Programming-Syntax/.spago
            11-Syntax/04-Module-Syntax/.spago
            11-Syntax/05-Prelude-Syntax/.spago
            11-Syntax/06-Modifying-Do-Ado-Syntax-Sugar/.spago
            21-Hello-World/02-Effect-and-Aff/.spago
            21-Hello-World/03-Debugging/.spago
            21-Hello-World/04-Foldable-Traversable/.spago
            21-Hello-World/05-Application-Structure/.spago
            21-Hello-World/06-Type-Level-Programming/.spago
            21-Hello-World/07-Testing/.spago
            21-Hello-World/06-Benchmarking/.spago
            22-Projects/.spago

      - name: Set up Node toolchain
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install dependencies
        run: |
          chmod +x .ci/spago--install.sh
          ./.ci/spago--install.sh

      - name: Run CI
        run: |
          chmod +x .ci/spago--build-and-test.sh
          ./.ci/spago--build-and-test.sh
